Checks: "-*,\
boost-*,\
bugprone-*,\
cert-*,\
cppcoreguidelines-*,\
-cppcoreguidelines-avoid-magic-numbers,\
-cppcoreguidelines-pro-bounds-array-to-pointer-decay,\
-cppcoreguidelines-pro-bounds-pointer-arithmetic,\
-cppcoreguidelines-pro-type-vararg,\
clang-analyzer-*,\
google-*,\
misc-*,\
modernize-*,\
-modernize-use-auto,\
performance-*,\
readability-*,\
-readability-magic-numbers,\
-readability-use-anyofallof,\
-modernize-use-trailing-return-type,\
-modernize-use-default-member-init,\
-cppcoreguidelines-pro-type-static-cast-downcast,\
-cppcoreguidelines-pro-bounds-constant-array-index,\
-modernize-use-nodiscard,\
-cppcoreguidelines-pro-type-union-access,\
-cert-dcl21-cpp,\
-cert-oop54-cpp,\
-readability-identifier-length,\
-bugprone-easily-swappable-parameters,\
-modernize-return-braced-init-list,\
-readability-container-data-pointer,\
-bugprone-implicit-widening-of-multiplication-result,\
-bugprone-unchecked-optional-access,\
-misc-confusable-identifiers,\
-bugprone-assignment-in-if-condition,\
-cppcoreguidelines-avoid-do-while,\
-cppcoreguidelines-avoid-const-or-ref-data-members,\
-misc-use-anonymous-namespace
"

#Notes:
# misc-confusable-identifiers: removed because its expensive
# bugprone-assignment-in-if-condition: remove due to false positives with lambdas in if clauses
# bugprone-unchecked-optional-access: false positives
# bugprone-implicit-widening-of-multiplication-result: suggested fixes are not very readable
# readability-container-data-pointer: sometimes &container[0] is more readable, because closer to the intended semantics
# modernize-return-braced-init-list: better readability without enforcing this
# bugprone-easily-swappable-parameters: cannot trivially be fixed, too sensitive
# readability-identifier-length: one-character parameters are ok imo.

WarningsAsErrors: '*,-bugprone-exception-escape'
HeaderFilterRegex: '^.*([^b]uild|[^u]ild|[^i]ld|[^l]d|[^d])(/|\\)antiphon(/|\\)(Audio|Base|Blackboard|Config|ConfigProvider|Core|Datagraph|DucklingWrapper|EmotionSim|Entities|Environment|Experiments|Expressions|FileTransfer|Intents|Lmqs|OnnxWrapper|Proto|Remote|Samples|SpeechText|Strings|Tokenization|Tools|VectorDatabase|WordNet)(/|\\)([^.]|\.[^.])*([^b]|[^p]b|[^.]pb)\.(h(pp)?|inl)$'
AnalyzeTemporaryDtors: false
CheckOptions:
  - key:             readability-identifier-naming.AbstractClassCase
    value:           CamelCase
  - key:             readability-identifier-naming.ClassCase
    value:           CamelCase
  - key:             readability-identifier-naming.EnumCase
    value:           CamelCase
  - key:             readability-identifier-naming.MemberCase
    value:           lower_case
  - key:             readability-identifier-naming.FunctionCase
    value:           camelBack
  - key:             readability-identifier-naming.MethodCase
    value:           camelBack
  - key:             readability-identifier-naming.PrivateMemberSuffix
    value:           _
  - key:             readability-identifier-naming.ProtectedMemberSuffix
    value:           _
  - key:             readability-identifier-naming.ParameterCase
    value:           lower_case
  - key:             readability-identifier-naming.UnionCase
    value:           CamelCase
  - key:             readability-identifier-naming.VariableCase
    value:           lower_case
  - key:             readability-identifier-naming.GlobalConstantCase
    value:           CamelCase
  - key:             readability-identifier-naming.GlobalConstantPrefix
    value:           k
  - key:             readability-identifier-naming.StaticConstantCase
    value:           CamelCase
  - key:             readability-identifier-naming.StaticConstantPrefix
    value:           k
  - key:             readability-identifier-naming.ConstexprVariableCase
    value:           CamelCase
  - key:             readability-identifier-naming.ConstexprVariablePrefix
    value:           k
  - key:             readability-identifier-naming.EnumConstantCase
    value:           CamelCase
  - key:             readability-identifier-naming.EnumConstantPrefix
    value:           k
  - key:             readability-identifier-naming.ScopedEnumConstantCase
    value:           CamelCase
  - key:             cppcoreguidelines-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value:           '1'
  - key:             misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value:           '1'
  - key:             cppcoreguidelines-macro-usage.CheckCapsOnly
    value:           '1'
  - key:             readability-function-cognitive-complexity.IgnoreMacros
    value:           'true'
  - key:             readability-function-cognitive-complexity.Threshold
    value:           '680'
  - key:             misc-const-correctness.AnalyzeValues
    value:           '0'
  - key:             readability-simplify-boolean-expr.SimplifyDeMorgan
    value:           'false'
  - key:             bugprone-argument-comment.StrictMode
    value:           'true'
